<app-header></app-header>

<div class="select-container">
  <label for="foodSelect">Select the Tier (1-7):</label>
  <select id="foodSelect" (change)="onSelectionChange($event)" [value]="selectedValue">
    @for (option of selectOptions; track option.value) {
      <option [value]="option.value">
        {{ option.label }}
      </option>
    }
  </select>
</div>

<!-- Tab Navigation -->
<div class="tab-container">
  <button 
    class="tab-btn" 
    [class.active]="activeTab() === 'recipesList'"
    (click)="setActiveTab('recipesList')">
    Recipes Table
  </button>
  <button 
    class="tab-btn" 
    [class.active]="activeTab() === 'recipes'"
    (click)="setActiveTab('recipes')">
    Recipes
  </button>
  <button 
    class="tab-btn" 
    [class.active]="activeTab() === 'rawMaterials'"
    (click)="setActiveTab('rawMaterials')">
    Raw Materials
  </button>
  <button 
    class="tab-btn" 
    [class.active]="activeTab() === 'references'"
    (click)="setActiveTab('references')">
    References
  </button>
</div>

<!-- Tab Content -->
<div class="tab-content">
  @if (activeTab() === 'rawMaterials') {
    <app-raws-form></app-raws-form>
  }
  @else if (activeTab() === 'recipes') {
    <app-recipes></app-recipes>
  }
  @else if (activeTab() === 'recipesList') {
    <app-recipes-list></app-recipes-list>
  }
  @else if (activeTab() === 'references') {
    <app-references></app-references>
  }
</div>